<table class="table">
    <thead>
    <tr>
        <th>
            <small class="text-muted">TITLE</small>
        </th>
        <th>
            <small class="text-muted">APP</small>
        </th>
        <th>
            <small class="text-muted">SERVICES</small>
        </th>
        <th>
            <small class="text-muted">URL</small>
        </th>
        <th>
            <small class="text-muted">CREDENTIALS</small>
        </th>
        <th class="text-right">
            <small class="text-muted">CREATED BY</small>
        </th>
        <th>&nbsp;</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>
            <span class="label label-primary">dev_ppb2c</span>
        </td>
        <td>
            <span class="label label-success">ppb2c</span>
        </td>
        <td>
            <span class="label label-danger">ArmPlatform</span>
        </td>
        <td>
            <span class="label label-default">vm.dev.ris.itmh.local</span>
        </td>
        <td>
            <span class="label label-default">service_api</span>
        </td>
        <td class="text-right"></td>
        <th class="text-right">
            <div class="dropdown">
                <button class="btn btn-default btn-xs dropdown-toggle"
                        data-toggle="dropdown">
                    <i class="glyphicon glyphicon-option-vertical"></i>
                </button>
                <ul class="dropdown-menu dropdown-menu-right">
                    <li><a href="#">Edit</a></li>
                    <li><a href="#">Duplicate</a></li>
                </ul>
            </div>
        </th>
    </tr>
    </tbody>
</table>
