{% extends 'QuapeeBundle::base.html.twig' %}

{% block body %}
    <div class="container">
        <h3>Quapee</h3>
        <hr>
        {% for alert in app.session.flashBag.get('alert') %}
            <p class="alert alert-success">{{ alert }}</p>
        {% endfor %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="btn-toolbar">
                    <div class="btn-group" role="group">
                        <span class="text-muted">
                            <b>Aliases</b>
                        </span>
                    </div>
                    <div class="btn-group pull-right" role="group">
                        <a href="{{ url('alias_create') }}" class="btn btn-default btn-xs">Create</a>
                    </div>
                </div>
            </div>
            {% include 'QuapeeBundle:Home:_aliases.html.twig' %}
        </div>
        <div class="row">
            <div class="col-sm-4">
                {% include 'QuapeeBundle:Home:_frontends.html.twig' with {'frontends': frontends} %}
            </div>
            <div class="col-sm-4">
                {% include 'QuapeeBundle:Home:_services.html.twig' with {'services': services} %}
            </div>
            <div class="col-sm-4">
                {% include 'QuapeeBundle:Home:_credentials.html.twig' with {'credentials': credentials} %}
            </div>
        </div>
    </div>
{% endblock %}
