{% extends 'QuapeeBundle::base.html.twig' %}

{% block body %}
    <div class="container">
        <h3>Quapee</h3>
        <hr>
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="btn-toolbar">
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-primary btn-sm">New Alias</button>
                    </div>
                    <div class="btn-group pull-right" role="group">
                        <button type="button" class="btn btn-default btn-sm">New App</button>
                        <a href="{{ url('service_create') }}" class="btn btn-default btn-sm">New Service</a>
                        <a href="{{ url('credential_create') }}" class="btn btn-default btn-sm">New Credentials</a>
                    </div>
                </div>
            </div>
            {% include 'QuapeeBundle:Home:_aliases.html.twig' %}
        </div>
        <div class="row">
            <div class="col-sm-4">
            </div>
            <div class="col-sm-4">
                {% include 'QuapeeBundle:Home:_services.html.twig' with {'services': services} %}
            </div>
            <div class="col-sm-4">
                {% include 'QuapeeBundle:Home:_credentials.html.twig' with {'credentials': credentials} %}
            </div>
        </div>
    </div>
{% endblock %}
