{% extends 'QuapeeBundle::base.html.twig' %}

{% block body %}
    <div class="container">
        <h3><a href="{{ url('quapee') }}">Quapee</a> / New alias</h3>
        <hr>
        <div class="">
            {% include 'QuapeeBundle:Alias:_form.html.twig' with {'form': form} %}
        </div>
    </div>
{% endblock %}
